In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

In [5]:
# read the json file
mars = pd.read_json("data/mars_data_01.json")
print(mars)

                                   report
abs_humidity                         None
atmo_opacity                        Sunny
ls                                    296
max_temp                               -1
max_temp_fahrenheit                  30.2
min_temp                              -72
min_temp_fahrenheit                 -97.6
pressure                              869
pressure_string                    Higher
season                           Month 10
sol                                  1576
sunrise              2017-01-11T12:31:00Z
sunset               2017-01-12T00:46:00Z
terrestrial_date               2017-01-11
wind_direction                         --
wind_speed                           None

In [6]:
# read the csv
temp = pd.read_csv("data/temp_data_01.csv")
print(temp)

   Notes     State  State Code Month Day, Year Month Day, Year Code  \
0    NaN  Illinois          17    Jan 01, 1979           1979/01/01
1    NaN  Illinois          17    Jan 02, 1979           1979/01/02
2    NaN  Illinois          17    Jan 03, 1979           1979/01/03
3    NaN  Illinois          17    Jan 04, 1979           1979/01/04
4    NaN  Illinois          17    May 15, 1979           1979/05/15
5    NaN  Illinois          17    May 16, 1979           1979/05/16
6    NaN  Illinois          17    May 17, 1979           1979/05/17
7    NaN  Illinois          17    May 18, 1979           1979/05/18
8    NaN  Illinois          17    May 19, 1979           1979/05/19

   Avg Daily Max Air Temperature (F)  Record Count for Daily Max Air Temp (F)  \
0                              17.48                                      994
1                               4.64                                      994
2                              11.05                                      994
3                               9.51                                      994
4                              68.42                                      994
5                              70.29                                      994
6                              75.34                                      994
7                              79.13                                      994
8                              74.94                                      994

   Min Temp for Daily Max Air Temp (F)  Max Temp for Daily Max Air Temp (F)  \
0                                  6.0                                 30.5
1                                 -6.4                                 15.8
2                                 -0.7                                 24.7
3                                  0.2                                 27.6
4                                 61.0                                 75.1
5                                 63.4                                 73.5
6                                 64.0                                 80.5
7                                 75.5                                 82.1
8                                 66.9                                 83.1

   Avg Daily Min Air Temperature (F)  Record Count for Daily Min Air Temp (F)  \
0                               2.89                                      994
1                              -9.03                                      994
2                              -2.17                                      994
3                              -0.43                                      994
4                              51.30                                      994
5                              48.09                                      994
6                              50.84                                      994
7                              55.68                                      994
8                              58.59                                      994

   Min Temp for Daily Min Air Temp (F)  Max Temp for Daily Min Air Temp (F)  \
0                                -13.6                                 15.8
1                                -23.6                                  6.6
2                                -18.3                                 12.9
3                                -16.3                                 16.3
4                                 43.3                                 57.0
5                                 41.1                                 53.0
6                                 44.3                                 55.7
7                                 50.0                                 61.1
8                                 50.9                                 63.2

  Avg Daily Max Heat Index (F)  Record Count for Daily Max Heat Index (F)  \
0                      Missing                                          0
1                      Missing                                          0
2                      Missing                                          0
3                      Missing                                          0
4                      Missing                                          0
5                      Missing                                          0
6                        82.60                                          2
7                        81.42                                        349
8                        82.87                                         78

  Min for Daily Max Heat Index (F) Max for Daily Max Heat Index (F)  \
0                          Missing                          Missing
1                          Missing                          Missing
2                          Missing                          Missing
3                          Missing                          Missing
4                          Missing                          Missing
5                          Missing                          Missing
6                            82.40                            82.80
7                            80.20                            83.40
8                            81.60                            85.20

  Daily Max Heat Index (F) % Coverage
0                               0.00%
1                               0.00%
2                               0.00%
3                               0.00%
4                               0.00%
5                               0.00%
6                               0.20%
7                              35.11%
8                               7.85%

In [7]:
#  clean all the "Missing" values
#  add the na_values
temp = pd.read_csv("data/temp_data_01.csv", na_values=["Missing"])
print(temp)

   Notes     State  State Code Month Day, Year Month Day, Year Code  \
0    NaN  Illinois          17    Jan 01, 1979           1979/01/01
1    NaN  Illinois          17    Jan 02, 1979           1979/01/02
2    NaN  Illinois          17    Jan 03, 1979           1979/01/03
3    NaN  Illinois          17    Jan 04, 1979           1979/01/04
4    NaN  Illinois          17    May 15, 1979           1979/05/15
5    NaN  Illinois          17    May 16, 1979           1979/05/16
6    NaN  Illinois          17    May 17, 1979           1979/05/17
7    NaN  Illinois          17    May 18, 1979           1979/05/18
8    NaN  Illinois          17    May 19, 1979           1979/05/19

   Avg Daily Max Air Temperature (F)  Record Count for Daily Max Air Temp (F)  \
0                              17.48                                      994
1                               4.64                                      994
2                              11.05                                      994
3                               9.51                                      994
4                              68.42                                      994
5                              70.29                                      994
6                              75.34                                      994
7                              79.13                                      994
8                              74.94                                      994

   Min Temp for Daily Max Air Temp (F)  Max Temp for Daily Max Air Temp (F)  \
0                                  6.0                                 30.5
1                                 -6.4                                 15.8
2                                 -0.7                                 24.7
3                                  0.2                                 27.6
4                                 61.0                                 75.1
5                                 63.4                                 73.5
6                                 64.0                                 80.5
7                                 75.5                                 82.1
8                                 66.9                                 83.1

   Avg Daily Min Air Temperature (F)  Record Count for Daily Min Air Temp (F)  \
0                               2.89                                      994
1                              -9.03                                      994
2                              -2.17                                      994
3                              -0.43                                      994
4                              51.30                                      994
5                              48.09                                      994
6                              50.84                                      994
7                              55.68                                      994
8                              58.59                                      994

   Min Temp for Daily Min Air Temp (F)  Max Temp for Daily Min Air Temp (F)  \
0                                -13.6                                 15.8
1                                -23.6                                  6.6
2                                -18.3                                 12.9
3                                -16.3                                 16.3
4                                 43.3                                 57.0
5                                 41.1                                 53.0
6                                 44.3                                 55.7
7                                 50.0                                 61.1
8                                 50.9                                 63.2

   Avg Daily Max Heat Index (F)  Record Count for Daily Max Heat Index (F)  \
0                           NaN                                          0
1                           NaN                                          0
2                           NaN                                          0
3                           NaN                                          0
4                           NaN                                          0
5                           NaN                                          0
6                         82.60                                          2
7                         81.42                                        349
8                         82.87                                         78

   Min for Daily Max Heat Index (F)  Max for Daily Max Heat Index (F)  \
0                               NaN                               NaN
1                               NaN                               NaN
2                               NaN                               NaN
3                               NaN                               NaN
4                               NaN                               NaN
5                               NaN                               NaN
6                              82.4                              82.8
7                              80.2                              83.4
8                              81.6                              85.2

  Daily Max Heat Index (F) % Coverage
0                               0.00%
1                               0.00%
2                               0.00%
3                               0.00%
4                               0.00%
5                               0.00%
6                               0.20%
7                              35.11%
8                               7.85%

In [9]:
# setting header = 0 to turn off the heaaders
temp = pd.read_csv("data/temp_data_01.csv", na_values=["Missing"],header = 0, names=range(18), usecols= range(4,18))
print(temp)

           4      5    6     7     8      9    10    11    12     13   14  \
0  1979/01/01  17.48  994   6.0  30.5   2.89  994 -13.6  15.8    NaN    0
1  1979/01/02   4.64  994  -6.4  15.8  -9.03  994 -23.6   6.6    NaN    0
2  1979/01/03  11.05  994  -0.7  24.7  -2.17  994 -18.3  12.9    NaN    0
3  1979/01/04   9.51  994   0.2  27.6  -0.43  994 -16.3  16.3    NaN    0
4  1979/05/15  68.42  994  61.0  75.1  51.30  994  43.3  57.0    NaN    0
5  1979/05/16  70.29  994  63.4  73.5  48.09  994  41.1  53.0    NaN    0
6  1979/05/17  75.34  994  64.0  80.5  50.84  994  44.3  55.7  82.60    2
7  1979/05/18  79.13  994  75.5  82.1  55.68  994  50.0  61.1  81.42  349
8  1979/05/19  74.94  994  66.9  83.1  58.59  994  50.9  63.2  82.87   78

     15    16      17
0   NaN   NaN   0.00%
1   NaN   NaN   0.00%
2   NaN   NaN   0.00%
3   NaN   NaN   0.00%
4   NaN   NaN   0.00%
5   NaN   NaN   0.00%
6  82.4  82.8   0.20%
7  80.2  83.4  35.11%
8  81.6  85.2   7.85%

In [10]:
#retrieve values from column 17
print(temp[17])

0     0.00%
1     0.00%
2     0.00%
3     0.00%
4     0.00%
5     0.00%
6     0.20%
7    35.11%
8     7.85%
Name: 17, dtype: object

In [12]:
#first record , column 17
print(temp[17][8])

7.85%

In [13]:
# remove % symbol from column 17
temp[17] = temp[17].str.strip("%")
print(temp[17])

0     0.00
1     0.00
2     0.00
3     0.00
4     0.00
5     0.00
6     0.20
7    35.11
8     7.85
Name: 17, dtype: object

In [14]:
#check data type
type(temp[17][0])

str

In [15]:
#convert str values to int/numeric
temp[17] = pd.to_numeric(temp[17])
print(temp[17])

0     0.00
1     0.00
2     0.00
3     0.00
4     0.00
5     0.00
6     0.20
7    35.11
8     7.85
Name: 17, dtype: float64

In [16]:
type(temp[17][0])

numpy.float64

In [17]:
# divide all values in column in 17 by 100
temp[17] = temp[17].div(100)
print(temp[17])

0    0.0000
1    0.0000
2    0.0000
3    0.0000
4    0.0000
5    0.0000
6    0.0020
7    0.3511
8    0.0785
Name: 17, dtype: float64

In [23]:
# get the total of columns
print(temp[17].sum())
print(temp[17].mean())
print(temp[17].max())
print(temp[17].median())

0.4316
0.04795555555555556
0.35109999999999997
0.0