My first pytohn program

In [5]:
print("Hello World") # diplay hello world output

Hello World

Define a scalar variable to store name

In [6]:
name = "John"
print(name)
print("Hello " + name) #concatenate

John
Hello John

age = 30

In [7]:
age

NameError: name 'age' is not defined

In [12]:
age = 30

age1 = 4234090.35634
print ("NAme : " + name + " and Age : " + str(age) )

NAme : John and Age : 30

Use ''single quote to define a string variable

In [11]:
email = 'john@example.com'

# a very long string variable, use triple quotes instead

somelongstring = """Starting from here, is a very long string variable that maybe useful for your program"""

print(email)
print(somelongstring)

john@example.com
Starting from here, is a very long string variable that maybe useful for your program

In [13]:
a = [1, 2, 3]
a

[1, 2, 3]

In [14]:
# define another variable b and assign a to b
b = a

In [15]:
b

[1, 2, 3]

In [17]:
# both a and b  are arrays
# add new value/item to array a
a.append(4)

In [18]:
a

[1, 2, 3, 4]

In [19]:
b

[1, 2, 3, 4]

In [20]:
b.append(5)

In [21]:
b

[1, 2, 3, 4, 5]

In [22]:
a

[1, 2, 3, 4, 5]

In [25]:
# use index to access array items
# index always starts with 0
a[0]

1

In [24]:
a[2]

3

In [27]:
# use for loop to iterate array items and display on its own line

for  x in a : 
    print(x)

1
2
3
4
5

In [28]:
# define a function to display array item 

def display_items(elements) :
    for x in elements :
        print(x)

In [29]:
weekdays = ["Monday","Tuesday","Wednesday", "Thursday","Friday"]
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [30]:
# call function and pass array
display_items(weekdays)

Monday
Tuesday
Wednesday
Thursday
Friday

In [31]:
display_items(b)

1
2
3
4
5

In [32]:
# chceck the type of scalar
type(age)

int

In [33]:
type(salary)

NameError: name 'salary' is not defined

In [34]:
type(a)

list

In [35]:
# another way to check type

isinstance(a, int)

False

In [37]:
isintance(email,str)

NameError: name 'isintance' is not defined

In [38]:
isinstance(email,str)

True

In [40]:
x = 5; y = 4.5

In [41]:
print( x+y)

9.5

import module to use here in notebook

In [42]:
import some_module

In [45]:
some_module.PI

3.14159

In [46]:
some_module.f(5)

7

In [48]:
some_module.g(1,2)

3

when too many function to be called

In [49]:
from some_module import f,g,PI

In [50]:
PI

3.14159

In [51]:
f(7)

9

In [52]:
g(1,4)

5

In [54]:
import some_module as sm

In [55]:
sm.f(5)

7

In [56]:
a

[1, 2, 3, 4, 5]

In [57]:
#check if a and b are same and also point to the same list

a is b

True

In [59]:
a is weekdays

False

In [60]:
a is not weekdays

True

In [61]:
# list() create a copy of a
c = list(a)

In [62]:
c

[1, 2, 3, 4, 5]

In [63]:
c is a

False

In [64]:
a is c

False

In [67]:
# check the values stored by a and c
c == a

True

In [69]:
a = None

In [73]:
a

In [74]:
a is None

True

mutable and immutable objects

In [75]:
a_list = ['foo', 2,[4,5]]

In [76]:
a_list

['foo', 2, [4, 5]]

In [77]:
a_list[0]

'foo'

In [80]:
# this is mutable, list can be modified
a_list[2] = (3,44)

In [79]:
a_list

['foo', 2, (3, 44)]

In [81]:
# some types, like tuples are immutable
a_tuple = (3,4,(5,6))

In [83]:
a_tuple

(3, 4, (5, 6))

In [85]:
a_tuple[0] = "bar"

TypeError: 'tuple' object does not support item assignment

In [86]:
list1 = [1,2,3,4]

In [87]:
list1

[1, 2, 3, 4]

In [88]:
list1.append([5,6])

In [89]:
list1

[1, 2, 3, 4, [5, 6]]

In [90]:
list1.extend([5,6])

In [91]:
list1

[1, 2, 3, 4, [5, 6], 5, 6]

In [94]:
tup = tuple('amazon')
tup

('a', 'm', 'a', 'z', 'o', 'n')

In [95]:
nested_tup = (1,2,3),(4,5)

In [96]:
nested_tup

((1, 2, 3), (4, 5))

In [97]:
nested_tup[0][2]

3

In [98]:
#alternatively, unpack the tuple
first, second = nested_tup

In [99]:
first

(1, 2, 3)

In [100]:
second

(4, 5)

In [104]:
colours = ("red", "blue", "green")
R,B,G = colours #unpack

In [105]:
R

'red'

In [106]:
G

'green'

In [108]:
#print with format

In [109]:
print("R={0} G={1} B{2}".format(R,G,B))

R=red G=green Bblue

In [111]:
values = 1,2,3,4,5
values

(1, 2, 3, 4, 5)

In [112]:
a,b, *rest = values

In [113]:
a

1

In [114]:
b

2

In [115]:
rest

[3, 4, 5]

In [117]:
# count() - count the frequency - want to count how many character
mytup = (1,2,3,4,1,2,2,2,5)
mytup

(1, 2, 3, 4, 1, 2, 2, 2, 5)

In [118]:
mytup.count(2)

4

In [119]:
#convert tuple to list
mytup = list(mytup)

In [120]:
mytup

[1, 2, 3, 4, 1, 2, 2, 2, 5]

In [122]:
#insert() - add item to a a specific location
list1.insert(1, "red")
list1

[1, 'red', 2, 3, 4, [5, 6], 5, 6]

TypeError: descriptor 'pop' requires a 'list' object but received a 'int'

In [124]:
items = ['saw', 'small', 'HE', 'foxes', 'six']

In [125]:
#sort by the length
items.sort(key=len)
items

['HE', 'saw', 'six', 'small', 'foxes']

In [128]:
#slicing
mylist = [1,1,2,2,2,3,4,5]

In [131]:
myslice = mylist[1:5]
myslice

[1, 2, 2, 2]

In [133]:
mylist[3:4] = [7,7]
mylist

[1, 1, 2, 7, 7, 7, 2, 3, 4, 5]

In [134]:
mylist[3:]

[7, 7, 7, 2, 3, 4, 5]

In [135]:
mylist[:4]

[1, 1, 2, 7]

In [136]:
mylist[-4:]

[2, 3, 4, 5]

In [138]:
#step by 2
mylist[::2]

[1, 2, 7, 2, 4]

In [140]:
mylist[::-1]

[5, 4, 3, 2, 7, 7, 7, 2, 1, 1]