In [124]:
%matplotlib inline
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt

In [125]:
gendermodel = pd.read_csv("datasets/titanic/gendermodel.csv",usecols=['PassengerId','Survived'])
print(gendermodel)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [166]:
test = pd.read_csv("datasets/titanic/test.csv",usecols=['PassengerId','Sex','Embarked','Pclass'])
print(test)

     PassengerId  Pclass     Sex Embarked
0            892       3    male        Q
1            893       3  female        S
2            894       2    male        Q
3            895       3    male        S
4            896       3  female        S
..           ...     ...     ...      ...
413         1305       3    male        S
414         1306       1  female        C
415         1307       3    male        S
416         1308       3    male        S
417         1309       3    male        C

[418 rows x 4 columns]

In [167]:
df = gendermodel.merge(test, on='PassengerId')
print(df)

     PassengerId  Survived  Pclass     Sex Embarked
0            892         0       3    male        Q
1            893         1       3  female        S
2            894         0       2    male        Q
3            895         0       3    male        S
4            896         1       3  female        S
..           ...       ...     ...     ...      ...
413         1305         0       3    male        S
414         1306         1       1  female        C
415         1307         0       3    male        S
416         1308         0       3    male        S
417         1309         0       3    male        C

[418 rows x 5 columns]

In [128]:
print(df.isna().any()[lambda x:x])

Series([], dtype: bool)

In [129]:
survive = df['Embarked'].value_counts()
print(survive)

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [130]:
print(df[["Survived", "Sex",'Embarked']]
      .groupby(["Survived",'Embarked']).sum())

                                                                 Sex
Survived Embarked
0        C         malemalemalemalemalemalemalemalemalemalemalema...
         Q         malemalemalemalemalemalemalemalemalemalemalema...
         S         malemalemalemalemalemalemalemalemalemalemalema...
1        C         femalefemalefemalefemalefemalefemalefemalefema...
         Q         femalefemalefemalefemalefemalefemalefemalefema...
         S         femalefemalefemalefemalefemalefemalefemalefema...

In [157]:
print(df[['Sex', 'Survived']].groupby(['Sex']).sum())

        Survived
Sex
female       152
male           0

In [168]:
print(df[['PassengerId','Survived','Embarked','Sex','Pclass']].groupby(['Survived','Embarked','Sex','Pclass']).count())

                                 PassengerId
Survived Embarked Sex    Pclass
0        C        male   1                28
                         2                 7
                         3                27
         Q        male   2                 4
                         3                18
         S        male   1                29
                         2                52
                         3               101
1        C        female 1                28
                         2                 4
                         3                 8
         Q        female 1                 1
                         3                23
         S        female 1                21
                         2                26
                         3                41

In [133]:
sex = df['Sex'].unique()
print(sex)

['male' 'female']

In [156]:
print(df[["Sex", "Survived"]]
      .groupby(["Sex","Survived"]).sum())

Empty DataFrame
Columns: []
Index: [(female, 1), (male, 0)]

In [74]:
df[['PassengerId', 'Survived', 'Sex']].groupby(['Sex'], as_index = False).count()

      Sex  PassengerId  Survived
0  female          152       152
1    male          266       266